<div *ngIf="request" class="card">
  <div class="card-body">
    <div>
      <span class="float-right text-dark">{{ request?.dateCreated | date:'short' }}</span>
      <div class="card-title  font-lg font-weight-normal" [translate]="'Requests.Edit.MessageTitle'"></div>
    </div>
    <div class="card-text mb-4">{{ request.object?.name }}</div>
    <ng-container *ngIf="request?.description">
      <div class="card-title font-lg font-weight-normal pb-1" [translate]="'Requests.Edit.RequestTitle'"></div>
      <div class="card-text mb-2">{{ request?.description }}</div>
    </ng-container>
  </div>
</div>
<div class="card" *ngIf="request && request.result">
  <div class="card-body">
    <h4 class="card-title"> {{request.result?.description}}</h4>

      <div class="form-group row">
        <div class="col-3">
          <span class="text-secondary" [translate]="'Requests.RelatedFile'"></span>
        </div>
        <div class="col-9">
            <span class="text-dark">
            <a [routerLink]="['.']" [queryParams]="{ 'download': request.result.documentCode }">
              <i class="fas fa-2x fa-file-download text-indigo"></i>
            </a>
              </span>
        </div>
      </div>

    <div class="form-group row"
         *ngIf="request.result && !request.result.published && request.result.documentStatus && request.result.documentStatus.alternateName==='CancelledDocumentStatus'">
      <div class="col-3">
        <span class="text-secondary" [translate]="'Requests.Status'"></span>
      </div>
      <div class="col-9">
          <span class="text-dark">
              <span class="text-danger font-weight-bold">
                {{'Requests.DocumentCancelled' | translate}}
              </span>
           </span>
      </div>
    </div>
      <div class="form-group row" *ngIf="request.object && request.object.reportTemplate">
        <div class="col-3">
          <span class="text-secondary" [translate]="'Requests.DigitalSignature'"></span>
        </div>
        <div class="col-9">
          <span class="text-dark">
            <span *ngIf="request.object.reportTemplate.signReport">
              <span *ngIf="request.result.signed">
                <i class="fa fa-2x fa-check text-success"></i>
              </span>
              <span *ngIf="!request.result.signed" class="text-danger font-weight-bold">
                {{'Requests.DigitalSignatureRequired' | translate}}
              </span>
              <a class="text-primary ml-1 text-decoration-none" style="cursor: pointer;"
              [routerLink]="['.', { outlets: { modal: [request.result.id, 'signatureDetails'] } }]"
              *ngIf="request.result.signActions && request.result.signActions.length > 0">
              ({{'Requests.SignatureDetails.Short' | translate}})</a>
            </span>
            <span *ngIf="!request.object.reportTemplate.signReport">
              {{'Requests.DigitalSignatureNotRequired' | translate}}
            </span>
           </span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <span class="text-secondary" [translate]="'Requests.Published'"></span>
        </div>
        <div class="col-9">

          <span class="text-dark" *ngIf="request.result.published">
              <i class="fa fa-2x fa-check text-success"></i>
           </span>
          <span class="text-dark" *ngIf="!request.result.published">
               {{'No' | translate}}
          </span>
        </div>
      </div>
    <div class="form-group row" *ngIf="request.result.datePublished">
      <div class="col-3">
        <span class="text-secondary" [translate]="'Requests.DatePublished'"></span>
      </div>
      <div class="col-9">
          {{request.result.datePublished | localizedDate:'short'}}
      </div>
    </div>
      <div class="form-group row">
        <div class="col-3">
          <span class="text-secondary" [translate]="'Requests.DocumentNumber'"></span>
        </div>
        <div class="col-9">
          <span class="text-dark">{{request.result.documentNumber}}</span>
        </div>
      </div>
    <div class="form-group row mb-0">
      <div class="col-12">
        <div class="float-left"  *ngIf="request.result && !request.result.published && request.result.documentStatus && request.result.documentStatus.alternateName!=='CancelledDocumentStatus'">
          <button type="button"
                  class="btn btn-warning"
                  (click)="reIssueReport()"
                  [translate]="'Requests.ReIssue'">
          </button>
        </div>
        <div class="float-right">
          <button type="button"
                  *ngIf="request.result && !request.result.published  && request.result.documentStatus && request.result.documentStatus.alternateName!=='CancelledDocumentStatus'"
                  [disabled]="request.object.reportTemplate.signReport && !request.result.signed"
                  class="btn btn-indigo"
                  (click)="publishReport(true)"
                  [translate]="'Requests.Publish'">
          </button>


          <button type="button"
                  *ngIf="request.result && request.result.published"
                  class="ml-2 btn btn-warning"
                  (click)="publishReport(false)"
                  [translate]="'Requests.CancelPublish'">
          </button>
        </div>
      </div>
    </div>
    </div>
  <router-modal></router-modal>
 </div>
