<div class="card" *ngIf="enrollmentEvent">
  <div class="card-header d-flex justify-content-between mt-3">
    <h5 class="mr-3  my-auto"><span [translate]="'Candidates.Viewers.Viewers'"></span></h5>
    <div class="font-lg btn-toolbar">
      <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
        <span>+</span><span>&nbsp;</span><span [translate]="'Candidates.Viewers.Add'"></span>
      </a>
    </div>
  </div>
  <div class="card-body pt-0 pb-3" *ngIf="this.currentViewers?.viewers && this.currentViewers?.viewers?.length>0">
    <div class="text-secondary" [translate]="'Candidates.Viewers.Info'"></div>
    <div id="group-list" class="flex-column">
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let viewer of this.currentViewers.viewers">
          <div class="d-flex justify-content-center align-items-center list-color ">
            <div class="sis--list-group-item_sm_column text-left" style="flex-basis: 0px;flex-grow: 0">
              <a class="fas fa-trash text-indigo mr-2 pr-3" href="javascript:void(0)" (click)="remove(viewer)"></a>
            </div>
            <div class="sis--list-group-item_md_column d-none d-xl-block text-lg-left" style="display: flex !important;flex-direction: column">
              <span class="text-decoration-none">{{viewer.alternateName}} ({{viewer.name}})</span>
              <span class="text-secondary">{{viewer.departments.name}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer border-top py-4"
    *ngIf="this.currentViewers?.viewers && this.currentViewers?.viewers?.length===0">
    <div class="text-secondary" [translate]="'Candidates.NoViewers'"></div>
  </div>
</div>