<div>
  <div class="row">
    <div class="col-auto mt-3">
      <div class="col-12 alert alert-info" [translate]="'StudyPrograms.Replacements.RulesHelp'">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'StudyPrograms.ReplacementRules'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal == 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'StudyPrograms.ReplacementRules'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="font-lg btn-toolbar mt-3">
        <a *ngIf="this.replacementRules && this.replacementRules.selected && this.replacementRules.selected.length"
           class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
          <span>-</span><span>&nbsp;</span><span [translate]="'StudyPrograms.RemoveSpecialty'"></span>
        </a>
        <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'new'} }]">
          <span>+</span><span>&nbsp;</span><span [translate]="'StudyPrograms.New'"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4 pl-0">
      <app-advanced-table #rules [height]="600" [selectable]="true" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
