<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table" [routerSearchState]>
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="alert mt-3 mb-0 border-gray-200 alert-white alert-dismissible fade show" role="alert" *ngIf="queryDescription">
        <strong [translate]="'QueryBuilder.QueryDescriptionTitle'"></strong> {{queryDescription}}
        <button type="button" class="close d-none" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <button type="button" (click)="activeQuery.clear()" class="ml-2 btn btn-light btn-sm">
          <i class="fa fa-eraser"></i><span class="ml-1 text-lowercase" [translate]="'Clear'"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-3" *ngIf="!isLoading">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.StudentTitle'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.StudentTitleSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group" *ngIf="this.table && this.table.selectable">
        <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg" type="button"
                [translate]="'Students.Actions'">
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-scroll">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.CalculateSemester'" (click)="calculateSemester()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.ChangeProgram'" (click)="changeStudyProgram()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item dropdown-item-beta"   [translate]="'Students.ApplyProgramRules'" (click)="applyProgramRules()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.ChangeSpecialty'" (click)="changeSpecialty()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.AddProgramGroup'" (click)="addProgramGroup()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.RequestDocument'" (click)="addDocumentRequest()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.CheckScholarshipRules'" (click)="checkScholarshipRules()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.CheckGraduationRules'" (click)="checkGraduationRules()">Open</button>

          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.CheckThesisRules'" (click)="checkThesisRules()">Open</button>

          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.CheckInternshipRules'" (click)="checkInternshipRules()">Open</button>

          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.AddStudentCounselor'" (click)="addStudentCounselor()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.DistributeStudentCounselor'" (click)="distributeStudentCounselor()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.AddDepartmentSnapshot'" (click)="addDepartmentSnapshot()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.ChangeStatus'" (click)="changeStatus()">Change student status</button>
          <!-- elot conversion only has meaning if default locale is el -->
          <button *ngIf="defaultLocale && defaultLocale === 'el'"[disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.ConvertToElot'" (click)="convertToElot()">Convert names to elot</button>
          <button *ngIf="defaultLocale && defaultLocale === 'el'"[disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.ConvertToGenitiveAction.Title'" (click)="convertToGenitive()">Convert father/mother names to genitive</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.SetSeries'" (click)="setSeries()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.ClearSeries'" (click)="clearSeries()" [hidden]="!hasSeries">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.DistributeSeries'" (click)="distributeSeries()" [hidden]="!hasSeries">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.CreateUserAction.Title'" (click)="createUser()">Create User</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.UnlinkUserAction.Title'" (click)="unlinkUser()">Unlink User</button>
          <button *ngIf="this.table && this.table.config && this.table.config.id === 'graduated-students-list'"
            [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.CalculateGradeWrittenInWordsAction.Title'" (click)="calculateGraduationGradeWrittenInWords()">Calculate graduation grade written in words</button>
            <ng-container *ngIf="studentDegreeTemplate.enabled && this.table && (this.table.config.title === 'Students.Graduated')">
              <div class="dropdown-divider"></div>
              <h6 [attr.lang]="locale" class="dropdown-header bg-white text-uppercase" [translate]="'DegreeTemplates.SetDegreeTemplateAction'"></h6>
              <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'DegreeTemplates.SetDegreeTemplate'" (click)="studentDegreeTemplate.setDegreeTemplate()"></button>
              <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'DegreeTemplates.ClearDegreeTemplate'" (click)="studentDegreeTemplate.clearDegreeTemplate()"></button>
            </ng-container>
          <button *ngIf="this.table && this.table.config && this.table.config.title === 'Students.Active'"
                  [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.DeleteAction.Title'" (click)="deleteAction()">Permanently remove students</button>

          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <app-advanced-table #table (loading)="onLoading($event)" [columnOrdering]="true" [autoLoad]="false" [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
