<div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Exams.ExamDocuments'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal == 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Exams.ExamDocument'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-2 mt-4">
      <a class="btn btn-indigo text-white" [translate]="'Exams.NewGradeSubmission'" 
        [routerLink]="['/exams', courseExamID, 'dashboard', 'grading', 'new']"></a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4 pl-0">
      <app-advanced-table [showFooter]="false" (load)="onDataLoad($event)" #actions
                          [height]="600"></app-advanced-table>
    </div>
  </div>

  <router-modal></router-modal>

</div>
