<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <form-collapsible [collapsed]="false">
      <form-header>
        <span [translate]="'StudyPrograms.GeneralInfoTab.title'"></span>
      </form-header>
      <form-body>
        <app-program-course-preview-form [model]="model"></app-program-course-preview-form>
      </form-body>
    </form-collapsible>
  </div>
</div>