<div class="row">
  <div class="col-sm-12">
    <div id="advanced-form">

      <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
            <div class="form-group col-6">
              <label class="pr-3" for="departmentname" [translate]="'Departments.ListTable.Name'"></label>
              <input [(ngModel)]="filter.name" spellcheck="false" type="text" id="departmentname" name="departmentname"
                class="form-control col text-left"
                placeholder="{{ 'Departments.AdvancedSearch.DepartmentPlaceHolder' | translate }}">
            </div>
            <div class="form-group col-6">
              <label class="pr-3" for="searchfacultyname" [translate]="'Departments.ListTable.facultyName'"></label>
              <input [(ngModel)]="filter.facultyName" spellcheck="false" type="text" id="searchfacultyname" name="searchfacultyname" class="form-control col text-left" placeholder="{{ 'Departments.AdvancedSearch.DepartmentPlaceHolder' | translate }}">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
            <div class="form-inline pb-3 pr-1 pl-1 pt-1 col">

          
            <div class="form-group col-xl-4 col-md-6">
              <label class="pr-3" for="searchabbreviation" [translate]="'Departments.ListTable.ID'"></label>
              <input [(ngModel)]="filter.abbreviation" spellcheck="false" type="text" id="searchabbreviation" name="searchabbreviation" class="form-control col text-left" placeholder="{{ 'Departments.AdvancedSearch.DepartmentPlaceHolder' | translate }}">
            </div>
        

            <div class="form-group col-xl-4 col-md-6">
              <label class="pr-3" for="searchcontact" [translate]="'Departments.ListTable.ContactDetails'"></label>
              <input [(ngModel)]="filter.contact" spellcheck="false" type="text" id="searchcontact" name="searchcontact"
                class="form-control col text-left"
                placeholder="{{ 'Departments.AdvancedSearch.ContactPlaceHolder' | translate }}">
            </div>

            <div class="form-group col-xl-4 col-md-6">
                <most-data #studylevels [model]="'StudyLevels'"></most-data>
                <div class="d-flex flex-row w-100" *ngIf="studylevels.value">
                  <label class="pr-3" for="searchstudylevel" [translate]="'Departments.ListTable.StudyLevel'"></label>
                  <select class="custom-select flex-grow-1" [(ngModel)]="filter.studyLevel">
                    <option [value]="undefined" [translate]="'Departments.AdvancedSearch.Choose'"></option>
                    <option *ngFor="let item of studylevels.value" [value]="item.alternateName"
                      [translate]="'StudyLevels.' + item.alternateName"></option>
                  </select>
                </div>
              </div>
            
      </div>
    </div>

      <!-- <div class="row">
        <div class="col-sm-12">
          <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">

            <div class="form-group col-sm-6">
              <most-data #studylevels [model]="'StudyLevels'"></most-data>
              <div class="d-flex flex-row w-100" *ngIf="studylevels.value">
                <label class="pr-3" for="searchstudylevel" [translate]="'Departments.ListTable.StudyLevel'"></label>
                <select class="custom-select flex-grow-1" [(ngModel)]="filter.studylevel">
                  <option [value]="undefined" [translate]="'Departments.AdvancedSearch.Choose'"></option>
                  <option *ngFor="let item of studylevels.value" [value]="item.alternateName"
                    [translate]="'StudyLevels.' + item.alternateName"></option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div> -->

    </div>
  </div>
