<div *ngIf="lastPartTime && lastPartTime.length > 0">
  <div class="card" *ngFor="let item of lastPartTime">
     <div class="card-header d-md-flex">
      <h5 class="mr-3 my-auto">{{'Students.PartTime.Title' | translate}} ({{'Students.PartTime.Category' | translate}}: {{item.action?.partTimeCategory?.name}} )</h5>
       <a class="text-primary ml-auto my-auto" [routerLink]="['.', { outlets:{ modal:'part-time/' + item.id  + '/edit'} }]" >
         <span [translate]="'Students.Edit'"></span>
       </a>
       <ng-container *ngIf="item.isDeletable">
        <a class="text-danger pull-right ml-2 delete-link" (click)="deleteStudentPartTime(item)">
          <span [translate]="'Students.Remove'"></span>
        </a>
       </ng-container>
    </div>
    <div class="card-body py-0">
      <div>
        <div class="row suspension-row border-bottom mb-3">
          <div class="form-group col-12">
            <div class="flex-column">
              <div class="mr-3 my-auto">
              <div [ngClass]="item.integrationStudyProgram?'text-success':
               item.status ==='Expired'
                ?'text-danger':'text-primary'">
                <span [translate]="'Students.PartTime.Status'"></span>:
                <span>
                  {{ 'Students.PartTime.' + item.status | translate}}
                  </span>
              </div>
                <span  [translateParams]="{
                      period : 'Periods.' + item?.startPeriod?.alternateName | translate,
                      year : item?.startYear.alternateName,
                      periods : item?.periods,
                      studyProgram: item?.studyProgram?.name,
                      date : item?.startDate | date:'shortDate'}"
                       [translate]="'Students.PartTime.SubTitle'">
                </span>

                <div class="mt-2" *ngIf="item.integrationStudyProgram"
                    [translateParams]="{
                      period : 'Periods.' + item?.endPeriod?.alternateName | translate,
                      year : item?.endYear?.alternateName,
                      date : item?.endDate | date:'shortDate',
                      studyProgram : item?.integrationStudyProgram?.name}"
                    [translate]="'Students.PartTime.FullTimeText'">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
