<div>
  <div class="row d-flex">
    <div class="col-auto">
      <h2>
        {{ "StudentAdditionalInfo" | translate }}
      </h2>
    </div>
    <div class="btn-group ml-auto col-auto pb-2" role="group">
      <button type="button" class="btn btn-success universis-btn-export">
        <span [translate]="'Students.Export'"></span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Records'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Record'"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #table [showFooter]="false" (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
