<div *ngIf="departments">
  <div class="row mt-4" *ngIf="departments?.length !=0;">
    <div class="col-lg-8 col-md-7 col-12">
      <app-departments-dashboard-overview-registrations></app-departments-dashboard-overview-registrations>
      <app-departments-dashboard-overview-study-programs></app-departments-dashboard-overview-study-programs>
    </div>
    <div class="col-lg-4 col-md-5 col-12">
      <app-departments-dashboard-overview-general></app-departments-dashboard-overview-general>
    </div>
  </div>
</div>
