<div>
  <div class="row mb-4">
    <div class="col-lg-12">
      <form ngForm="search">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" 
            placeholder="{{'Settings.SearchHelp'| translate }}" 
            [(ngModel)]="search" 
            (ngModelChange)="onSearchChange($event)"
            aria-label="Large" aria-describedby="inputGroup-sizing-sm"
            autofocus
            spellcheck="true"
            tabindex="0"
            id="searchSection" 
            name="searchSection">
          <div class="input-group-append">
            <button class="btn btn-light border-0" title="{{'Settings.Clear'}}" type="button">
              <i class="fas fa-backspace text-secondary" (click)="clearSearch()"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <ng-container *ngFor="let section of this.sections | filterBy: ['description', 'name']: search" >
    <div class="card" *ngIf="!section.hidden">
      <div class="card-body" [ngClass]="{ 'section-disabled': section.disabled }">
        <div class="d-flex">
          <div>
            <h5 class="card-title">{{section.description}}</h5>
            <p class="card-text" [innerHTML]="section.longDescription"></p>
          </div>
          <div class="ml-auto">
            <a *ngIf="!section.disabled" [routerLink]="[ section.url ]" class="btn btn-light pull-right" [translate]="'Settings.Expand'"></a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

