.formio-component {
    .choices__list--multiple {
      .choices__item {
        font-weight: 400;
        border: none;
        padding: 8px 8px;
        border-radius: 4px;
        background-color: var(--indigo);
        max-width:90%;
        .text-truncate {
          display: inline-block;
          max-width:85%;
        }
        .choices__button {
          border-left: 1px solid var(--gray-100);
        }
      }
    }
    
    .form-check-inline {
      display: inline-flex !important;
      -webkit-box-align: center;
      align-items: center;
      padding-left: 0;
      margin-right: 0.75rem;
    }
    .radio.form-check-inline {
      position: static;
    } 
  }
  
  
  .formio-choices {
    .choices__input.choices__input--cloned {
      background-color: #FFF;
    }
  }
  
  .card-light {
    box-shadow: 0 0 3px 0 rgba(177, 177, 177, 0.5);
  }
  .gj-list.gj-list-bootstrap {
    .list-group-item.active {
      background-color: var(--theme);
    }
  }
  